annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
click==8.5.0
cross-web==0.7.0
fastapi==0.141.1
gitdb==4.0.12
GitPython==3.1.62
graphql-core==3.2.12
h11==0.16.0
idna==3.19
networkx==3.6.1
packaging==26.3
pydantic==2.13.5
pydantic_core==2.46.5
python-dateutil==2.9.0.post0
six==1.17.0
smmap==5.0.3
starlette==1.6.0
strawberry-graphql==0.327.7
typing-inspection==0.4.4
typing_extensions==4.16.0
uvicorn==0.53.0
websockets==17.1
